header#titulo{
    color: black;
    text-align: center;
    font-size: 9ch;
}

body{
    background-color: orange;
}

nav{
    text-align: center;
}

a{
    margin: 1cm;
}

p{
    background-color: black;
    color: orange;
    font-size: 5ch;
}

img{
    height: 150px;
    width: 150px;
}

img#valencia{
    top: 4cm;
    height: 350px;
    width: 700px;
}
